#bear:hover #right-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
  transform-origin: center center;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
  transform-origin: center center:
}

#bear:hover #right-eye wiggle {
  animation: wiggle 1s 2s linear;
}

#bear:hover #left-eye wiggle {
  animation: wiggle 1s 2s linear;
}

@keyframes wiggle {

  start {
    transform: translateX(-2em);
  }

  end {
    transform: translateX(-4em);
  }

}
