#bear:hover #right-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
  transform-origin: center center;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
  transform-origin: center center;
}

#bear:hover #right-eye {
  animation: dance 1s 2s linear;
}

#bear:hover #left-eye {
  animation: dance 1s 2s linear;
}

@keyframes dance {

  0% {
    transform: translateX(-20px);
  }

  20% {
    transform: translateX(20px);
  }

  40% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(-20px);
  }

}
