#bear:hover #right-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
  transform-origin: center center;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
  transform-origin: center center;
}

#bear:hover #right-eye {
  animation: right-eye 2s linear;
}

#bear:hover #left-eye {
  animation: left-eye 2s linear;
}

@keyframes right-eye {

  0% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }

}

@keyframes left-eye {

  0% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }

}
